{% extends 'base.html' %}

{% block content %}
<h2 align="center">List of Departments</h2>
<a href="/" class="btn btn-secondary">К работам</a>
{% if current_user.is_authenticated %}
<a href="/add_departments" class="btn btn-secondary">Add department</a>
{% endif %}
{% for item in departments %}
<h2>Department # {{ item.id }}</h2>
<table>
    <thead>
    <tr>
        <td>Title of department</td>
        <td>Chief</td>
        <td>Members</td>
        <td>Department Email</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td bgcolor="#eeeeff">{{ item.title }}</td>
        <td bgcolor="#eeeeff">{{ from_id_chief_to_name[item.chief] }}</td>
        <td bgcolor="#eeeeff">{{ item.members }}</td>
        <td bgcolor="#eeeeff">{{ item.email }}</td>
    </tr>
    </tbody>
</table>
{% if current_user.is_authenticated and (current_user.id == item.chief or current_user.id == 1) %}
<a href="/edit_departments/{{ item.id }}" class="btn btn-warning">Edit department</a>
<a href="/delete_departments/{{ item.id }}" class="btn btn-danger">Delete department</a>
{% endif %}
{% endfor %}
{% endblock %}