{% extends 'base.html' %}

{% block content %}
<h1 align="center">Works log</h1>
{% for item in jobs %}
<h2>Action # {{ item.id }}</h2>
<table>
    <thead>
        <tr>
            <td>Title of activity</td>
            <td>Team leader</td>
            <td>Duration</td>
            <td>List of collaborators</td>
            <td>is finished</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ item.job }}</td>
            <td>{{ from_id_to_name[item.team_leader] }}</td>
            <td>{{ item.work_size }} hours</td>
            <td>{{ item.collaborators }}</td>
            <td>{% if item.is_finished %} finished {% else %} Is not finished {% endif %}</td>
        </tr>
    </tbody>
</table>
{% if current_user.is_authenticated and (current_user.id == item.team_leader or current_user.id == 1) %}
<a class="btn btn-warning" href="/jobs/{{ item.id }}">Редактировать</a>
{% endif %}
{% endfor %}
{% endblock%}
